{% extends "duafi/topbot.html" %}

{% load staticfiles %}

{% block body %} 
<div id="stage">
<link rel="stylesheet" type="text/css" href="{% static 'aoi.css' %}" />



<div class=Section1>

<p class=Default style='margin-bottom:22.35pt'><b><span style='font-size:16.0pt'>DHAKA
UNIVERSITY ALUMNI FORUM, INC. (DUAFI) </span></b></p>

<p class=Default align=center style='text-align:center'><b><u><span
style='font-size:10.0pt'>Articles of Incorporation (AOI) of DUAFI </span></u></b></p>

<p class=Default><i><span style='font-size:10.0pt'>Provision: AOI gives the
right to the registrants of the organization to pick up another name from the
list of approved names prior to the registration in the event the selected name
is not available for registration. The approved names are in order of
preference. </span></i></p>

<p class=Default><i><span style='font-size:10.0pt'>SOCIETY OF DHAKA UNIVERSITY
GRADUATES (SDUG) </span></i></p>

<p class=Default><i><span style='font-size:10.0pt'>SOCIETY OF DHAKA UNIVERSITY
ALUMNI (SDUA) </span></i></p>

<p class=Default style='margin-bottom:6.0pt'><b><span style='font-size:10.0pt'>ARTICLE
I: <i><u>NAME AND LOCATION </u></i></span></b></p>

<p class=Default><b><i><span style='font-size:10.0pt'>Section 1: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>The
association shall be named as “<b>DHAKA UNIVERSITY ALUMNI FORUM, INC</b>” also
inscribed as DUAFI in abbreviated form. </span></p>

<p class=Default style='margin-left:.5in;text-align:justify;text-indent:-.5in'><b><i><span
style='font-size:10.0pt'>Section 2</span></i></b><i><span style='font-size:
10.0pt'>: </span></i></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in'><span style='font-size:
10.0pt'>DUAFI shall be located in Greater Washington D.C. Metro area (Maryland,
Virginia and Washington D.C.) of the United States of America. </span></p>

<p class=Default style='margin-bottom:6.0pt'><b><span style='font-size:10.0pt'>ARTICLE
II: <i><u>OBJECTIVES</u></i></span></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>DUAFI is a
voluntary, nonprofit and nonpolitical forum organized exclusively for cultural,
educational, and charitable purposes. </span></p>

<p class=Default style='text-align:justify'><b><i><span style='font-size:10.0pt'>Section
1</span></i></b><i><span style='font-size:10.0pt'>: </span></i></p>

<p class=Default style='margin-left:.5in;text-align:justify'><span
style='font-size:10.0pt'>The overall objectives of DUAFI are: </span></p>

<p class=Default style='margin-top:5.0pt;margin-right:0in;margin-bottom:0in;
margin-left:54.75pt;margin-bottom:.0001pt;text-align:justify;text-indent:-.25in'><span
style='font-size:9.5pt'>A. </span><span style='font-size:10.0pt'>To work for
the improvement of fellowship among the graduates of Dhaka University campus
graduates living in Greater Washington DC metro area. </span></p>

<p class=Default style='margin-top:5.0pt;margin-right:0in;margin-bottom:0in;
margin-left:54.75pt;margin-bottom:.0001pt;text-align:justify;text-indent:-.25in'><span
style='font-size:9.5pt'>B. </span><span style='font-size:10.0pt'>To organize
cultural programs, reunion programs for the graduates and immediate family
members of Dhaka University campus graduates. </span></p>

<p class=Default style='margin-top:5.0pt;margin-right:0in;margin-bottom:0in;
margin-left:54.75pt;margin-bottom:.0001pt;text-align:justify;text-indent:-.25in'><span
style='font-size:9.5pt'>C. </span><span style='font-size:10.0pt'>To conduct seminars,
workshops and educational programs independently and/or in conjunction with
national and international organizations. </span></p>

<p class=Default style='margin-top:5.0pt;margin-right:0in;margin-bottom:6.0pt;
margin-left:54.75pt;text-align:justify;text-indent:-.25in'><span
style='font-size:9.5pt'>D. </span><span style='font-size:10.0pt'>To extend
assistance to Dhaka University students in their academic endeavors either
through financial help or material support. </span></p>

<p class=Default><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=Default><b><i><span style='font-size:10.0pt'>Section 2</span></i></b><i><span
style='font-size:10.0pt'>: </span></i></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:49.7pt;text-align:justify;text-indent:-49.7pt'><span
style='font-size:10.0pt'>A. No part of the net earnings or assets of DUAFI
shall be used to the benefit of or be distributable to its members, officers,
or other private persons, except that the organization shall be authorized and
empowered to pay reasonable compensation for services rendered, and to make
payment and distribution for the purpose set forth in Article II hereof. </span></p>

<p class=Default style='margin-left:49.5pt;text-align:justify;text-indent:-13.5pt'><span
style='font-size:10.0pt'>B. DUAFI shall not carry on any activities not
permitted (a) by the corporation exempt from Federal Income Tax under section
501 (c) (3) of the Internal Revenue Code of 1954, or the corresponding
provision of any future U.S. or Internal Revenue Law, or (b) by a corporation,
contribution to which are deductible under section 170 (c) (3) of Internal
Revenue Code of 11954, or the corresponding provision of any future U.S.
Revenue Laws. </span></p><br>

<p class=Default style='margin-bottom:6.0pt'><b><span style='font-size:10.0pt'>ARTICLE
III: <i><u>MEMBERSHIP ELIGIBILITY </u></i></span></b></p>

<p class=Default style='margin-bottom:6.0pt'><b><i><span style='font-size:10.0pt'>Section
1: </span></i></b><b><span style='font-size:10.0pt'>MEMBER</span></b><span
style='font-size:10.0pt'>: </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:49.5pt;text-align:justify;text-indent:-13.5pt'><span
style='font-size:10.0pt'>A. An eligible member of DUAFI is he/she, who is a
graduate (who holds Bachelor/Post-graduate degree) of the Dhaka University
campuses, was affiliated with one of the residential halls of the Dhaka
University and currently living in Greater Washington DC Metro area. M.Phil
and/or Ph.D. graduates from Dhaka University are also eligible
for membership even if they do not have any hall affiliation. </p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:49.5pt;text-align:justify;text-indent:-13.5pt'><span
style='font-size:10.0pt'>B. A graduate shall provide his/her Dhaka University
related information, such as department name, year of graduation, degree(s)
obtained and affiliated hall for membership except for M.Phil and Ph.D.
graduates as mentioned in article 3 section 1(a). A member should also provide
his/her current residential address (and phone number if available). Since
e-mail will be the major way of communication, all members are advised to
provide their e-mail addresses. DUAFI Board of Directors shall have the right
to ask for additional documents or inquire about the information by other means
to ensure the authenticity of the provided information. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:48.0pt;text-align:justify;text-indent:-12.0pt'><span
style='font-size:10.0pt'>C. Members must abide by the Articles of Incorporation
(AOI) and By-Laws of DUAFI to obtain and retain membership. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:11.6pt;
margin-left:49.5pt;text-align:justify;text-indent:-13.5pt'><span
style='font-size:10.0pt'>D. A graduate shall pay an annual membership fee as
determined by the Board of Directors to maintain membership in good standing.
Dues shall be payable yearly at a time and manner as decided by the Board of
Directors from time to time. </span></p>

<p class=Default style='margin-bottom:6.0pt'><b><span style='font-size:10.0pt'>ARTICLE
IV: <i><u>ADMINISTRATION AND OFFICES </u></i></span></b></p>

<p class=Default style='text-align:justify'><b><i><span style='font-size:10.0pt'>Section
1: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>The general
management of DUAFI shall be managed by the Board of Directors. </span></p>

<p class=Default style='text-align:justify'><b><i><span style='font-size:10.0pt'>Section
2: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>The Board
of Directors shall consist of 5 members, comprising President, Vice-President,
General Secretary, Joint Secretary and Treasurer. </span></p>

<p class=Default style='margin-left:.5in;text-align:justify'><b><i><span
style='font-size:10.0pt'>Section 3: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>The term
for the Board of Directors shall be for two (2) years, starting from January 1
to December 31 of the following year (Exception: First board). </span></p>

<p class=Default style='text-align:justify'><b><i><span style='font-size:10.0pt'>Section
4: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:11.6pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>Any
temporary vacancy in the office of the President and General Secretary shall be
filled in by the Vice-President and Joint Secretary respectively. Any temporary
vacancies of Vice-President, Joint Secretary or Treasurer shall be filled in by
any good standing members with the consent of the Board of Directors. The Board
of Directors shall maintain a current list of good standing members. </span></p>

<p class=Default style='margin-bottom:6.0pt;text-align:justify'><b><span
style='font-size:10.0pt'>ARTICLE V: <i><u>DUTIES AND RESPONSIBILITY</u></i></span></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>The duties
and responsibilities of the members of the Board of Directors shall be as
follows: </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.75in;text-align:justify;text-indent:-.25in'><b><span
style='font-size:10.0pt'>A. The President </span></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(i) The
President shall be the Chief Executive Officer of the DUAFI, shall be
responsible for carrying out the objectives of the DUAFI and shall perform all
duties pertinent to the office of the President and such other duties as may be
designated by the Board of Directors. </span></p>

<p class=Default style='margin-bottom:6.0pt;text-align:justify;text-indent:
.5in'><span style='font-size:10.0pt'>(ii) The President shall preside over all
meetings of the DUAFI and of the Board of Directors. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(iii) The
President may sign all applicable documents which the Board of Directors has
authorized to be executed. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in'><span style='font-size:10.0pt'>(iv) The President shall seek
approval of the board of director before making any decision pertinent to DUAFI
activities. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(v) The
President may represent DUAFI to other organizations provided he/she informs
Board of Directors beforehand. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(vi) The
President, with due authorization of the Board of Directors, shall designate
all office delegate(s) and representative(s) to other organizations. </span></p>

<p class=Default style='margin-bottom:6.0pt;text-align:justify;text-indent:
.5in'><b><span style='font-size:10.0pt'>B. The Vice-President </span></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(i) The
Vice President shall assist the President in discharge of his/her functions. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(ii) The
Vice President shall perform such other duties and functions as assigned by the
Board of </span><b>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;page-break-before:always'><span
style='font-size:10.0pt'>Directors.(iii) In the absence of the President, Vice
President shall perform all the duties and responsibilities of the President as
mentioned in article V clause A. </span></p>

<p class=Default style='margin-bottom:6.0pt;text-align:justify;text-indent:
.5in'><b><span style='font-size:10.0pt'>C. The General Secretary </span></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(i) The
General Secretary shall perform all duties with regard to the office of the
Secretary. He/she, with the advice of the President shall convene meetings,
make correspondence and furnish annual reports. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(ii) The
General Secretary shall keep the minutes of the meetings of the organization
and perform all duties assigned to him/her by the President or Board of
Directors. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(iii) The
General Secretary shall maintain the DUAFI database. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(iv) The
General Secretary shall maintain cyber network communication via e-mail, group
mails, newsgroup, or web site to conduct meetings, group discussions, etc., in
consultation with President. </span></p>

<p class=Default style='margin-bottom:6.0pt;text-align:justify;text-indent:
.5in'><b><span style='font-size:10.0pt'>D. The Joint Secretary </span></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(i) The
Joint Secretary shall assist the General Secretary in discharge of his/her
functions. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(ii) The
Joint Secretary shall perform such other duties and functions as assigned by
the Board of Directors. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(iii) In
the absence of the General Secretary, Joint Secretary shall perform all the
duties and responsibilities of the General Secretary as mentioned in article V
clause C. </span></p>

<p class=Default style='margin-bottom:6.0pt;text-align:justify;text-indent:
.5in'><b><span style='font-size:10.0pt'>E. The Treasurer </span></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(i) The
Treasurer shall be responsible for collection of all types of funds of the
DUAFI including the membership fee, and shall be the custodian of the funds of
the DUAFI. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(ii) The
Treasurer shall make a financial report at the end of every major event (reunion
program, picnic) of the DUAFI and e-mail it to the general members. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(iii) The
Treasurer shall prepare a complete report of all financial activities at the
end of his/her two (2) years term and make it available to all general members.
</span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>(iv) The Treasurer
and the President shall jointly operate the DUAFI’s bank account in any US
based bank, located in the USA. Either of these two office bearers shall have
the authority to sign bank checks and perform other financial activities of the
DUAFI in consultation with each other. </span></p>

<p class=Default style='margin-bottom:6.0pt'><b><span style='font-size:10.0pt'>ARTICLE
VI: <i><u>MEETINGS OF THE GENERAL BODY </u></i></span></b></p>

<p class=Default style='margin-left:.5in;text-align:justify;text-indent:-.5in'><b><i><span
style='font-size:10.0pt'>Section 1: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in'><span style='font-size:
10.0pt'>There shall be at least one general meeting per term of the board. Time
and date of such meetings shall be determined by the Board of Directors and
e-mailed to all members at least two (2) weeks prior to the meeting with set
agenda. </span></p>

<p class=Default style='margin-left:.5in;text-align:justify;text-indent:-.5in'><b><i><span
style='font-size:10.0pt'>Section 2</span></i></b><b><span style='font-size:
10.0pt'>: </span></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in'><span style='font-size:
10.0pt'>A quorum shall be satisfied when twenty five percent (25%) of the good
standing members are physically present at a general body meeting. </span></p>

<p class=Default style='text-align:justify'><b><i><span style='font-size:10.0pt'>Section
3: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>A special
meeting shall be called by the Board of Directors. One-third (1/3</span><sup><span
style='font-size:6.5pt'>rd</span></sup><span style='font-size:10.0pt'>) of the
good standing members may call a special meeting if the Board of Directors
fails to call such meetings after two consecutive written request by the same
number of good standing members . A quorum for this type of special meeting is
1/3</span><sup><span style='font-size:6.5pt'>rd </span></sup><span
style='font-size:10.0pt'>of the good standing members. </span></p>

<p class=Default style='margin-left:.5in;text-indent:-.5in'><b><i><span
style='font-size:10.0pt'>Section 4</span></i></b><b><span style='font-size:
10.0pt'>: </span></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in'><span style='font-size:10.0pt'>A simple majority of the good
standing members in all general/special meetings shall satisfy to make a
decision.</span><b></p>

<p class=Default style='margin-bottom:6.0pt;page-break-before:always'><b><span
style='font-size:10.0pt'>ARTICLE VII: <i><u>MEETING OF THE BOARD OF DIRECTORS </u></i></span></b></p>

<p class=Default style='margin-left:.5in;text-align:justify;text-indent:-.5in'><b><i><span
style='font-size:10.0pt'>Section 1: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in'><span style='font-size:
10.0pt'>The Board of Directors shall communicate as often as needed to conduct
business but shall meet at least twice every year. The Secretary shall inform
Board of Directors about the meeting and agenda of the meeting at least 7 days
in advance. The President shall honor the request of majority of the Board of
Directors to convene a special meeting. </span></p>

<p class=Default style='margin-left:.5in;text-align:justify;text-indent:-.5in'><b><i><span
style='font-size:10.0pt'>Section 2: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in'><span style='font-size:
10.0pt'>Quorum shall be considered by the presence of three (3) out of five (5)
Board of Directors (60%). Any decision has to be approved by at least three (3)
Board of Directors irrespective of quorum requirement. </span></p>

<p class=Default style='margin-left:.5in;text-align:justify;text-indent:-.5in'><b><i><span
style='font-size:10.0pt'>Section 3: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in'><span style='font-size:
10.0pt'>The Board of Directors is not authorized to terminate any elected
officials and to execute other activities not permitted by these Articles of
Incorporation. </span></p>

<p class=Default style='margin-bottom:6.0pt'><b><span style='font-size:10.0pt'>ARTICLE
VIII: <i><u>SUBCOMMITTEES </u></i></span></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>The Board
of Directors shall form subcommittee(s) whenever necessity arises. The Board of
Directors is encouraged to form committees to involve more graduates in DUAFI
activities. The Board of Directors may dissolve any such subcommittee when it
decides that the purpose of that subcommittee has been served. </span></p>

<p class=Default style='margin-bottom:6.0pt;text-align:justify'><b><span
style='font-size:10.0pt'>ARTICLE IX: <i><u>ELECTIONS </u></i></span></b></p>

<p class=Default style='text-align:justify'><b><i><span style='font-size:10.0pt'>Section
1: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>The
election to President, Vice-president, General Secretary, Joint Secretary and
Treasure positions shall be held every two (2) years. </span></p>

<p class=Default style='text-align:justify'><b><i><span style='font-size:10.0pt'>Section
2: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in'><span style='font-size:
10.0pt'>Only members of DUAFI who have paid their dues for the current year at
least eight (8) weeks prior to the election shall be eligible to vote. </span></p>

<p class=Default style='text-align:justify'><b><i><span style='font-size:10.0pt'>Section
3: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>Good
standing members (Exception: first election) shall elect Board of Directors
using a secret ballot paper. A simple majority should decide all elections. </span></p>

<p class=Default style='text-align:justify'><b><i><span style='font-size:10.0pt'>Section
4: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>A member
may serve as President for not more than Two TERMs. However two terms shall not
be in consecutive order. Vice-president, General Secretary, Joint Secretary and
Treasure shall have no term limitation. </span></p>

<p class=Default style='text-align:justify'><b><i><span style='font-size:10.0pt'>Section
5: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>Good
standing members are eligible to be nominated for any position in the Board of
Directors. Exception: First election. </span></p>

<p class=Default style='margin-left:.5in;text-align:justify'><b><i><span
style='font-size:10.0pt'>Section 6: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify;text-indent:-.5in'><span style='font-size:
10.0pt'>The election shall be held at least 4 (four) weeks before the expiry of
the current committee. The Board of Directors shall decide the date of election
and appoint, from amongst the good standing members of DUAFI, but other than
the members of the Board of Directors, a three member Election Commission,
comprising of a Chief Election Commissioner and two Commissioners. The members
of Election Commission shall not be candidates for election but they will be
able to cast their votes. All these rules will be exempted for the first
election for DUAFI's Board of Directors EXCEPT that the Election Commissioners
shall not be candidates for the election they are conducting. </span></p>

<p class=Default style='text-align:justify;text-indent:.5in'><b><i><span
style='font-size:10.0pt'>Section 7: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>The
Election Commission, in consultation with the Board of Directors, shall make procedures
and regulations for conducting the election. In discharging this function, the
Election Commission shall be independent and autonomous, but shall be bound by
the Articles of Incorporation and By-Laws of DUAFI. </span><b><i><span
style='font-size:9.0pt'> </span></p>

<p class=Default style='text-align:justify;page-break-before:always'><b><i><span
style='font-size:10.0pt'>Section 8: </span></i></b></p>

<p class=Default style='margin-bottom:6.0pt;text-align:justify'><span
style='font-size:10.0pt'>In case of any controversy or objection, the decision
of the Election Commission shall be final. </span></p>

<p class=Default style='text-align:justify'><b><i><span style='font-size:10.0pt'>Section
9: </span></i></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>The
outgoing Board of Directors shall transfer all related documents of DUAFI to
the newly elected Board of Directors within 30 days of the new fiscal year. </span></p>

<p class=Default style='margin-bottom:6.0pt'><b><span style='font-size:10.0pt'>ARTICLE
X: <i><u>FUNDING </u></i></span></b></p>

<p class=Default style='text-align:justify'><b><i><span style='font-size:10.0pt'>Section
1: </span></i></b></p>

<p class=Default style='margin-bottom:6.0pt;text-align:justify'><span
style='font-size:10.0pt'>The primary source of fund shall be yearly membership
fees and donations from the DUAFI members. </span></p>

<p class=Default style='text-align:justify'><b><i><span style='font-size:10.0pt'>Section
2: </span></i></b></p>

<p class=Default style='margin-bottom:6.0pt;text-align:justify'><span
style='font-size:10.0pt'>The Board of Directors may accept any unconditional
contribution or gifts from individuals or organizations (exception: political,
religious, discriminatory) on behalf of DUAFI. </span></p>

<p class=Default style='text-align:justify'><b><i><span style='font-size:10.0pt'>Section
3: </span></i></b></p>

<p class=Default style='margin-bottom:6.0pt;text-align:justify'><span
style='font-size:10.0pt'>Fiscal year of the DUAFI shall be from January 1 to
December 31. </span></p>

<p class=Default style='margin-bottom:6.0pt'><b><span style='font-size:10.0pt'>ARTICLE
XI: <i><u>BY-LAWS </u></i></span></b></p>

<p class=Default style='margin-left:.5in'><span style='font-size:10.0pt'>Subject
to the provisions of this AOI, by-laws may be made, if and when required by the
Board of Directors of DUAFI, none of which should be contradictory to the
Articles and Sections of this AOI. </span></p>

<p class=Default style='margin-bottom:6.0pt'><b><span style='font-size:10.0pt'>ARTICLE
XII: <i><u>TERMINATION OF MEMBERSHIP </u></i></span></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-align:justify'><span style='font-size:10.0pt'>The failure
of a member to comply with the Articles of Incorporation or By-laws as they may
be in effect from time to time shall disqualify such member from membership. A
member may be censored, suspended or expelled from DUAFI for participation or
involvement in any activity detrimental to the interest of DUAFI. The board of
directors may suspend or expel a member for this kind of activities after an
appropriate hearing and approval in a general meeting. </span></p>

<p class=Default style='margin-bottom:6.0pt'><b><span style='font-size:10.0pt'>ARTICLE
XIII: <i><u>AMENDMENTS</u></i></span></b></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.5in'><span style='font-size:
10.0pt'>(i) Any proposed amendment shall be submitted to the Board of Directors
in writing by at least five (5) good standing members or Board of Directors can
initiate amendment(s). </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.5in'><span style='font-size:
10.0pt'>(ii) A proposed amendment to the AOI can be made by the consent of
eighty percent (80%) members of the Board of Directors. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.5in'><span style='font-size:
10.0pt'>(iii) The Board of Directors shall place the proposed amendment(s) to
the general members within two months of the Board of Directors meeting for
consent via e-mail. </span></p>

<p class=Default style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.5in'><span style='font-size:
10.0pt'>(iv) The proposed amendment(s) shall be considered adopted if the
amendments are approved by the 2/3</span><sup><span style='font-size:6.5pt'>rd </span></sup><span
style='font-size:10.0pt'>of the member present in general or special meeting. </span></p>

<p class=Default><span style='font-size:10.0pt'>&nbsp;</span></p>

<p class=Default style='margin-bottom:6.0pt;text-align:justify'><b><span
style='font-size:10.0pt'>ARTICLE XIV: <i><u>DISSOLUTION</u></i></span></b></p>

<p class=MsoNormal><span style='font-size:10.0pt;line-height:115%'>The decision
of DUAFI dissolution can be made in a special meeting called in for that
purpose by the physical presence and approval of two-third of the general
members only in good standing. Upon the dissolution of DUAFI, the elected
officials shall, after paying or making provisions for the payment of all the
liabilities of DUAFI, dispose of all the assets exclusively for the purpose of
DUAFI in such a manner, or to such organizations organized exclusively for
charitable, cultural or scientific purposes as shall at the time qualify as an
exempt organization or organizations under section 501 (c) (3) of the Internal
Revenue Code 1954 or the corresponding provision of any future U.S. Internal
Revenue Law, as the elected officials decide. Any such assets not so disposed
of shall be disposed of by the court of appropriate jurisdiction of the country
in which the principal office of DUAFI is then located, exclusively for such
purposes or to such organization or organizations as the said court determine
to be organized and operated exclusively for such purposes.</span></p>

</div>

</div>
{% endblock body %} 





