{% extends "duafi/topbot.html" %}

{% load staticfiles %}

{% block body %} 
<div id="stage">
<link rel="stylesheet" type="text/css" href="{% static 'currentmembers.css' %}" />



<div id="headdescription">
	<font id="font_2">Current Members</font><br>
	<font id="font_6">
	I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or 
	double click me and you can start adding your own content and make changes to the font. Feel free to 
	drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let 
	your users know a little more about you.
	</font>
</div>



<table width="100%" border="0px" cellpadding="0"  cellspacing="0">
	<tr>
		<td align="left" width=""></td>
		<td width="30px"></td>
		<td align="right" width=""></td>	
	</tr>
	<tr>
		<td>
			<div class="cmdiv">
				<div class="cm">
					<table width="100%" border="0" cellpadding="0"  cellspacing="0">
						<tr>
							<td>
							<div class="photo">
								<img width="100%" height="100%" src="{% static 'images/photo.png' %}" alt="">
							</div>
							</td>
							<td width="15px"></td>
							<td width="300px" valign="center"><font size="5">Mr. Middlename Lastname<br>Designation</font></td>	
						</tr>
					</table>
				</div>
				<div class="cmtext">
					I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click 
					“Edit Text” or double click me to add your own content and make changes to the font. 
					Feel free to drag and drop me anywhere you like on your page. I’m a great place for 
					you to tell a story and let your users know a little more about you.
				</div>			 
			 </div>
		</td>
		<td></td>
		<td>
			<div class="cmdiv">
				<div class="cm">
					<table width="100%" border="0" cellpadding="0"  cellspacing="0">
						<tr>
							<td>
							<div class="photo">
								<img width="100%" height="100%" src="{% static 'images/photo.png' %}" alt="">
							</div>
							</td>
							<td width="15px"></td>
							<td width="300px" valign="center"><font size="5">Mr. Middlename Lastname<br>Designation</font></td>	
						</tr>
					</table>
				</div>
				<div class="cmtext">
					I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click 
					“Edit Text” or double click me to add your own content and make changes to the font. 
					Feel free to drag and drop me anywhere you like on your page. I’m a great place for 
					you to tell a story and let your users know a little more about you.
				</div>			 
			 </div>
		</td>	
	</tr>
	<tr>
		<td>
			<div class="cmdiv">
				<div class="cm">
					<table width="100%" border="0" cellpadding="0"  cellspacing="0">
						<tr>
							<td>
							<div class="photo">
								<img width="100%" height="100%" src="{% static 'images/photo.png' %}" alt="">
							</div>
							</td>
							<td width="15px"></td>
							<td width="300px" valign="center"><font size="5">Mr. Middlename Lastname<br>Designation</font></td>	
						</tr>
					</table>
				</div>
				<div class="cmtext">
					I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click 
					“Edit Text” or double click me to add your own content and make changes to the font. 
					Feel free to drag and drop me anywhere you like on your page. I’m a great place for 
					you to tell a story and let your users know a little more about you.
				</div>			 
			 </div>
		</td>
		<td></td>
		<td>
			<div class="cmdiv">
				<div class="cm">
					<table width="100%" border="0" cellpadding="0"  cellspacing="0">
						<tr>
							<td>
							<div class="photo">
								<img width="100%" height="100%" src="{% static 'images/photo.png' %}" alt="">
							</div>
							</td>
							<td width="15px"></td>
							<td width="300px" valign="center"><font size="5">Mr. Middlename Lastname<br>Designation</font></td>	
						</tr>
					</table>
				</div>
				<div class="cmtext">
					I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click 
					“Edit Text” or double click me to add your own content and make changes to the font. 
					Feel free to drag and drop me anywhere you like on your page. I’m a great place for 
					you to tell a story and let your users know a little more about you.
				</div>			 
			 </div>
		</td>	
	</tr>
	<tr>
		<td>
			<div class="cmdiv">
				<div class="cm">
					<table width="100%" border="0" cellpadding="0"  cellspacing="0">
						<tr>
							<td>
							<div class="photo">
								<img width="100%" height="100%" src="{% static 'images/photo.png' %}" alt="">
							</div>
							</td>
							<td width="15px"></td>
							<td width="300px" valign="center"><font size="5">Mr. Middlename Lastname<br>Designation</font></td>	
						</tr>
					</table>
				</div>
				<div class="cmtext">
					I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click 
					“Edit Text” or double click me to add your own content and make changes to the font. 
					Feel free to drag and drop me anywhere you like on your page. I’m a great place for 
					you to tell a story and let your users know a little more about you.
				</div>			 
			 </div>
		</td>
		<td></td>
		<td>
			<div class="cmdiv">
				<div class="cm">
					<table width="100%" border="0" cellpadding="0"  cellspacing="0">
						<tr>
							<td>
							<div class="photo">
								<img width="100%" height="100%" src="{% static 'images/photo.png' %}" alt="">
							</div>
							</td>
							<td width="15px"></td>
							<td width="300px" valign="center"><font size="5">Mr. Middlename Lastname<br>Designation</font></td>	
						</tr>
					</table>
				</div>
				<div class="cmtext">
					I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click 
					“Edit Text” or double click me to add your own content and make changes to the font. 
					Feel free to drag and drop me anywhere you like on your page. I’m a great place for 
					you to tell a story and let your users know a little more about you.
				</div>			 
			 </div>
		</td>	
	</tr>
	<tr>
		<td>
			<div class="cmdiv">
				<div class="cm">
					<table width="100%" border="0" cellpadding="0"  cellspacing="0">
						<tr>
							<td>
							<div class="photo">
								<img width="100%" height="100%" src="{% static 'images/photo.png' %}" alt="">
							</div>
							</td>
							<td width="15px"></td>
							<td width="300px" valign="center"><font size="5">Mr. Middlename Lastname<br>Designation</font></td>	
						</tr>
					</table>
				</div>
				<div class="cmtext">
					I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click 
					“Edit Text” or double click me to add your own content and make changes to the font. 
					Feel free to drag and drop me anywhere you like on your page. I’m a great place for 
					you to tell a story and let your users know a little more about you.
				</div>			 
			 </div>
		</td>
		<td></td>
		<td>
			<div class="cmdiv">
				<div class="cm">
					<table width="100%" border="0" cellpadding="0"  cellspacing="0">
						<tr>
							<td>
							<div class="photo">
								<img width="100%" height="100%" src="{% static 'images/photo.png' %}" alt="">
							</div>
							</td>
							<td width="15px"></td>
							<td width="300px" valign="center"><font size="5">Mr. Middlename Lastname<br>Designation</font></td>	
						</tr>
					</table>
				</div>
				<div class="cmtext">
					I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click 
					“Edit Text” or double click me to add your own content and make changes to the font. 
					Feel free to drag and drop me anywhere you like on your page. I’m a great place for 
					you to tell a story and let your users know a little more about you.
				</div>			 
			 </div>
		</td>	
	</tr>
	<tr>
		<td>
			<div class="cmdiv">
				<div class="cm">
					<table width="100%" border="0" cellpadding="0"  cellspacing="0">
						<tr>
							<td>
							<div class="photo">
								<img width="100%" height="100%" src="{% static 'images/photo.png' %}" alt="">
							</div>
							</td>
							<td width="15px"></td>
							<td width="300px" valign="center"><font size="5">Mr. Middlename Lastname<br>Designation</font></td>	
						</tr>
					</table>
				</div>
				<div class="cmtext">
					I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click 
					“Edit Text” or double click me to add your own content and make changes to the font. 
					Feel free to drag and drop me anywhere you like on your page. I’m a great place for 
					you to tell a story and let your users know a little more about you.
				</div>			 
			 </div>
		</td>
		<td></td>
		<td>
			<div class="cmdiv">
				<div class="cm">
					<table width="100%" border="0" cellpadding="0"  cellspacing="0">
						<tr>
							<td>
							<div class="photo">
								<img width="100%" height="100%" src="{% static 'images/photo.png' %}" alt="">
							</div>
							</td>
							<td width="15px"></td>
							<td width="300px" valign="center"><font size="5">Mr. Middlename Lastname<br>Designation</font></td>	
						</tr>
					</table>
				</div>
				<div class="cmtext">
					I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click 
					“Edit Text” or double click me to add your own content and make changes to the font. 
					Feel free to drag and drop me anywhere you like on your page. I’m a great place for 
					you to tell a story and let your users know a little more about you.
				</div>			 
			 </div>
		</td>	
	</tr>
</table>







</div>
{% endblock body %} 





